SECRET_KEY=SECRET_KEY
DEBUG=True
POSTGRES_DB=your_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
STRIPE_SECRET_KEY=your_secret_key
STRIPE_CURRENCY=preferred_currency
REDIS_URL=redis_url
REDIS_CACHE_URL=redis_cache_url
EMAIL_HOST_USER=your_email
EMAIL_HOST_PASSWORD=your_app_password
